<input type="text" [(ngModel)]="categoriaEscolhida" name="categoriaEscolhida" placeholder="Digite a categoria de filmes">

<div *ngIf="categoriaEscolhida">
  <h3>Filmes da categoria "{{ categoriaEscolhida }}"</h3>

  <div [ngSwitch]="categoriaEscolhida">
    <div *ngSwitchCase="'Ação'" style="display:flex;">
      <div *ngFor="let filme of filmesAcao">
        <div style="text-align:center">
            <h4>{{ filme.titulo }}</h4>
        </div>
        <img [src]="filme.imagem" alt="{{ filme.titulo }}">
        <p>{{ filme.descricao }}</p>
      </div>
    </div>


    <div *ngSwitchCase="'Comédia'" style="display:flex;">
      <div *ngFor="let filme of filmesComedia">
        <h4>{{ filme.titulo }}</h4>
        <img [src]="filme.imagem" alt="{{ filme.titulo }}">
            <p>{{ filme.descricao }}</p>
        
      </div>
    </div>

    <div *ngSwitchDefault>
      <p>Desculpe, não há filmes disponíveis para a categoria "{{ categoriaEscolhida }}"</p>
    </div>
  </div>
</div>
